/* Base style */

html {
    font-size: 24px;
}

body {
    margin: 0 0 40px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
    color: #666666;
    background-color: #FFFFFF;
    word-break: break-word;
}

strong {
    font-weight: bold;
}

a,
a:visited,
a:hover,
a:link {
    color: inherit;
    outline: 0;
}

small {
    font-weight: 100;
}

p {
    font-size: 1rem;
    line-height: 1.4rem;
}

button,
.button {
    margin: 0;
    padding: 3px 6px;
    border-radius: 6px;
    border: 1px solid currentColor;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.6rem;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}

button.active,
.button.active {
    background-color: currentColor;
}

button.active span,
.button.active span {
    color: #FFFFFF;
}

i {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

li {
    padding: 10px 0 10px 0;
}

#unclebob *,
#sky *,
#gradle *,
#maven *,
#eclipse *,
#intellij *,
#watch *,
#tree *,
#bug * {
    fill: none;
    stroke: currentColor;
}

#henry * {
    fill: none;
    stroke-width: 1px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    min-height: 110px;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}


/* Common components */

.bloc {
    color: #f9f9f9;
    padding: 1px 0 30px;
    clear: both;
}

.content {
    margin: auto;
    max-width: 960px;
    padding: 0 20px;
}

.col3 {
    width: 50%;
    float: left;
    text-align: center;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
}

.col-container {
    padding: 0 12px;
}

.col3 p {
    font-size: 0.75rem;
    line-height: 1.05rem;
}


/* Text */

.bigger {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.4rem;
}

.center {
    text-align: center;
}

.clearer {
    clear: both;
}

.striked {
    text-decoration: line-through;
}

.italic {
    font-style: italic;
}


/* Blocs */

.bloc-head {
    color: #000000;
    padding: 30px;
}

.bloc-demo {
    color: #FF0084;
}

.bloc-scenario {
    color: #FF0084;
}

.bloc-why {
    color: #666666;
}

.bloc-doc {
    color: #69B0CA;
}

.bloc-quote {
    color: #666666;
}


/* Custom */

#bug,
#watch,
#tree {
    padding: 20px 60px 0 20px;
}

#tree {
    float: right;
}

#hi-there {
    width: 100%;
    stroke-width: 4;
}

.intro-links {
    text-align: right;
}

.example-description {
    margin-left: 440px;
}

.timing-description {
    min-height: 200px;
    margin-right: 240px;
}

.obturateur {
    stroke-width: 3;
    stroke-miterlimit: 10;
}

#bug {
    width: 320px;
    height: 320px;
    float: left;
}

#tree {
    width: 150px;
    height: 150px;
    float: left;
}

#maven {
    float: left;
    width: 200px;
    height: 200px;
}

#eclipse {
    float: left;
    width: 150px;
    height: 210px;
}

#intellij {
    float: left;
    width: 100px;
    height: 150px;
}

#gradle {
    float: left;
    width: 150px;
    height: 200px;
}

#watch {
    float: left;
    width: 200px;
    height: 200px;
    padding-right: 30px;
}

#unclebob {
    float: left;
    width: 220px;
    height: 130px;
    fill: none;
    stroke: currentColor;
}

#henry {
    float: left;
    width: 220px;
    height: 130px;
}

#sky {
    float: left;
    width: 220px;
    height: 130px;
    fill: none;
    stroke: currentColor;
}

#timing-example {
    float: right;
    width: 175px;
    height: 175px;
}

.goodbye-head {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0;
}

.goodbye-sub {
    font-size: 0.875rem;
    text-align: center;
    margin: 0 0 20px;
}


/* Media queries */

@media (max-width: 960px) {
    .button-group {
        display: block;
        line-height: 1.8em;
    }
}

@media (min-width: 768px) {
    .col3 {
        border-bottom: none;
    }
}

@media (max-width: 767px) {
    #polaroid {
        width: 100%;
        max-height: 300px;
    }
    .example-description {
        margin-left: 0;
    }
    .timing-description {
        margin-right: 0;
    }
    #timing-example {
        float: none;
        width: 100%;
    }
    .col3 {
        width: 100%;
        float: none;
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom-width: 1px;
        min-height: 200px;
    }
    .col3:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom-width: 0px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #polaroid {
        width: 100%;
        max-height: 300px;
    }
    .example-description {
        margin-left: 0;
    }
    .timing-description {
        margin-right: 0;
    }
    .col3:nth-child(2n) svg {
        width: 200px;
        float: right;
    }
    .col3:nth-child(2n) .col-container {
        text-align: right;
        margin-right: 200px;
    }
    .col3:nth-child(2n+1) svg {
        width: 200px;
        float: left;
    }
    .col3:nth-child(2n+1) .col-container {
        text-align: left;
        margin-left: 200px;
    }
}

@media (max-width: 480px) {
    .col-container {
        padding: 0px;
    }
    #polaroid {
        width: 100%;
        max-height: 260px;
    }
}